# Ignore hidden Mac OS directory files
**/.DS_Store
courses/foundation/intro-to-web-architecture/presentation/intro-to-web-architecture/
node_modules/
support/dist/

# Ignore JetBrains IDE settings
.idea
